*.log*
*.lock
tsconfig.prod.*
.babelrc
webpack.config.js

node_modules/
src/
cache/
docs/
sample/
test/
.idea/

.mocharc.json
.eslintrc
rollup.config.js
tsconfig.*
typedoc.json
swagger-generator.config.js
